@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
}
:root{
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

body{
  background-color: var(--light-gray);
  display: table;
  font-family: 'Outfit', sans-serif;
}

.App{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.Contenedor{
  text-align: center;
  background-color: var(--white);
  width: 315px;
  height: 500px;
  border-radius: 20px; 
}

.imgQR{
  width: 285px;
  border-radius: 8px;
  margin-top: 15px;
}

h1{
  margin: 20px;
  font-weight: 700;
  font-size: 22px;
}

p{
  font-size: 15px;
  color: var(--grayish-blue);
}

.attribution{
  position: absolute;
}